NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb://localhost:27017/furniture_db
JWT_SECRET=replace-with-strong-secret
CORS_ORIGIN=http://localhost:5173
VITE_API_URL=/api
VITE_EMAILJS_SERVICE_ID=service_12vggvh
VITE_EMAILJS_TEMPLATE_ID=template_egzw8fd
VITE_EMAILJS_PUBLIC_KEY=S1uLBrr9Cn3CVH4Nq
